[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/cpp-channel"]
	path = ThirdParty/msd_channel
	url = https://github.com/andreiavrammsd/cpp-channel.git
